{
  "extends": ["plugin:prettier/recommended"],
  "arrowParens": "avoid",
  "semi": false,
  "bracketSpacing": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true
}
